@charset "UTF-8";
/*============================================

Basicstyle

============================================*/
body {
  padding: 1rem;
  background-color: #b0c4de;
}

img {
  display: block;
}

h2 {
  margin-top: 3rem;
}
/*============================================

img

============================================*/

/* ホバーして画像変更 */
.img-container {
  width: 400px;
  height: 300px;
  background-image: url("img/Coffee1739.jpg");
  background-size: cover;
}

.img-change {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.img-container:hover .img-change {
  opacity: 0;
}
/*============================================

Gallery

============================================*/
/* サムネイルを大きく表示 */
.gallery {
  display: flex;
  gap: 1rem;
}

.gallery-main img {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.gallery-thumbnail {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-thumbnail li {
  margin-bottom: 1rem;
}

.gallery-thumbnail img {
  width: 100px;
  height: 80px;
  object-fit: cover;
}
